[defaults]
inventory = inventories/aws_ec2.yml
interpreter_python = auto_silent
remote_tmp = /tmp/.ansible/tmp
retry_files_enabled = False
timeout = 30
roles_path = ./roles
[inventory]
enable_plugins = amazon.aws.aws_ec2
